@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.cdnfonts.com/css/spin-cycle');

:root {
    --primary: #FF6565; /* Coral/Red buttons & icons */
    --dark: #0b1b2a; /* Very dark navy background */
    --light: #ffffff; /* Pure white for text & backgrounds */
    --text-light: #666666; /* Light gray for paragraph text */
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); /* Soft shadow */
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 64%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: none;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

header .navbar {
  margin-left: auto; /* pushes links to the far right */
  display: flex;
  gap: 1rem;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
}

header .navbar a:hover{
    color: white;
    background: var(--primary);
}

header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    color: #ffffff;
}

header .icons i:hover{
    color: white;
    background: var(--primary);
    transform: rotate(360deg);
}
 /*--Header text--*/
 .header-text{
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(300px);
    text-align: center;
 }
 .header-text h1{
    font-size: 70px;
 }
.header-text p{
    font-size: 15px;
    margin: 10px 0 40px;
    color: #ffffff;
}
.call-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 2rem;
    padding: 12px 30px;
    position: relative;
    cursor: pointer;
    background: #FF6565;
    font-size: 20px;
}
.para-text{
    padding-top: 100px;
}






/*--Dropdown menu--*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    transition: height .25s ease;
    will-change: height;
    height: 0;
}

.dropdown_menu a{
    padding: .8rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.dropdown_menu a:hover{
    color: white;
    background: var(--primary);
}

header .icons i{
        display: none;
}


/*--RESPONSIVE DESIGN--*/
@media(max-width: 840px) {
    .logo-image img{
        width: 100px;
        height: auto;
    }
    .header-text h1{
    font-size: 20px;
 }
 .header-text p{
    font-size: 10px;
 }
}

@media(max-width: 750px) {
    header .navbar a{
        display: none;
    }

    header .icons i{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}